services:
  - type: web
    name: task-manager
    env: python

    buildCommand: |
      pip install -r requirements.txt
      cd backend
      python manage.py migrate
      python manage.py collectstatic --noinput

    startCommand: |
      cd backend
      gunicorn server.wsgi:application

    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
